@model IEnumerable<Day3_EFCore_DBFirst.Models.Ten_Most_Expensive_Products>

@{
    ViewData["Title"] = "TenProducts";
}

<h1>TenProducts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenMostExpensiveProducts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=>item.TenMostExpensiveProducts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TenMostExpensiveProducts">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TenMostExpensiveProducts">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TenMostExpensiveProducts">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
